@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@600;700&family=Lobster&family=Mogra&family=Oswald&family=Pacifico&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Rancho&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

}

body{
  font-family: 'Poppins', sans-serif;
}

.lab_heading{
  color: rgb(90,130,156);
  font-weight: 500;
  margin-bottom: 2rem;
}

.pharmacy_heading{
  color: rgb(158, 187, 168);
  font-weight: 500;
  margin-bottom: 2rem;
}

/* --------------------------------------------MEDIA QUERIES--------------------------------- */

@media screen and (max-width: 650px) {
  
  h1{
    font-size: 1.2rem;
    text-align: center;
  }

}