.table_container{
    padding: 3rem 0;
    margin: 0 auto;
  }
  
  .table_container table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(217, 228, 236);
  }
  
  table thead{
    background-color: rgb(241,242,246);
  }
  
  table thead tr th{
    padding: 1rem 2rem;
    color: rgb(8,113,179);
  }
  
  table tbody tr td{
    font-size: 1.1rem;
    color: rgb(100,130,156);
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid rgb(217, 228, 236);
  }
  
  .table_icons_container *{
    color: rgb(8,113,179);
    font-size: 1.3rem;
  }
  
  .table_icons_container .delete_btn{
    cursor: pointer;
  }


    /* --------------------------------------------MEDIA QUERIES--------------------------------- */
  @media screen and (max-width: 650px) {
    .table_container{
        border: none;
        margin-top: 3rem;
      }
      
      .table_container table{
        border: none;
      }
      
      table tbody, table tr, table td{
        display: block;
        width: 100%;
      }
      
      table tbody tr{
        margin-bottom: 2rem;
        border: 1px solid white;
      }
      
      table thead{
        display: none;
      }
        
      table tbody td{
        border: 1px solid white;
      }
      
      table tbody tr td{
        font-size: 1rem;
        padding: 0.2rem 0;
        background-color: rgb(90,136,188);
        color: white;
      }
      
  }